<%- include('partials/head') %>

    <%- include('partials/navbar') %>

        <%- include('partials/content') %>

            <h1>The home page</h1>
            <h2></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum maxime provident unde nulla soluta,
                perferendis
                voluptatem quo. Aliquam, vitae sequi? Blanditiis repudiandae error, nobis esse sapiente quas, inventore
                deserunt
                voluptatem impedit itaque aliquid minus nesciunt optio eaque nisi voluptas accusamus.</p>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, excepturi.</span>

            <%- include('partials/footer') %>